.container{
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.contacts{
    width: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    height: 100vh;
    overflow-y: scroll;
}

.contacts.off-mobile{
    transform: translateX(100vw);
}

.contact-list{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.contact-list{
    background-color: #ccc;
}

.contact-list .contact-item{
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid white;
    cursor: pointer;
}

.contact-list .contact-item .img-container{
    margin: 10px 10px;
}

.contact-list .contact-item .img-container img{
    max-width: 100%;
}

.contact-list .contact-item .contact-item-info{
    width: 65%;
}

.contact-list .contact-item .contact-item-info h4{
    margin-bottom: 0;
}


.detail{
    color: #969696;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100vw;
    overflow-y: auto;
    width: 90%;
}

.detail.show-mobile{
    left: 0;
}

.detail .svg-icons{
    width: 24px;
}

.menu-container{
    display: flex;
    justify-content: space-between;
}

.menu-container div{
    margin-top: 20px;
}

.menu-container .back-mobile {
    cursor: pointer;
}

.menu-container .back-mobile img {
    margin-bottom: -5px;
}

.menu-container .edit img{
    padding-right: 15px;
}

.contact-detail-form .info-group p{
    color: #565454;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.contact-detail-form .basic-info {
    display: flex;
}

.contact-detail-form .basic-info .img-container-large{
    margin-top: 20px;
}

.contact-detail-form .basic-info .img-container-large img{
    max-width: 100%
}

.contact-detail-form .basic-info .name-company-block{
    margin-top: 20px;
    margin-left: 10px;
}

.contact-detail-form .extra-info .extra-item{
    margin-top: 40px;
}

.contact-detail-form .extra-info .extra-item .categories{
    display: flex;
    justify-content: space-between;
}

.contact-detail-form .extra-info .extra-item .categories .location{
    text-transform: capitalize;
}



/************** MEDIA QUERIES ************************/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
    .detail{
        position: static;
        width: 60%
    }

    .contacts{
        width: 40%;
    }

    .container{
        display: flex;
    }

    .menu-container .back-mobile{
        visibility: hidden;
    }
    
    .contact-list .contact-item.is-active{
        background-color: gray;
    }

    .contacts.off-mobile{
        transform: translateX(0);
    }


}



 /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    .contact-list .contact-item .contact-item-info{
        width: 85%;
    }

    .contact-list .contact-item .img-container{
        width: 10%;
        margin: 10px 10px;
    }

}